build
target
/kernel/src/arch/x86_64/interrupt/vector.asm

Cargo.lock
!kernel/Cargo.lock
!user/Cargo.lock

.DS_Store

# for eclipse
.project

# shortcut
# The changes of shortcut will be ignored by git.
# To directly remove it from repository, you can use:
#   `git rm --cached shortcut.sh`
/shortcut.sh